#global-balloon{display:none;color:#001b2d;position:absolute;overflow:visible;padding:none;font-size:12px;line-height:12px;vertical-align:middle;min-width:100px;white-space:normal;background-color:transparent;border-width:31px 28px 31px 29px;-webkit-border-image:url("../images/tooltip/glow.png") 31 28 31 29 stretch;-moz-border-image:url("../images/tooltip/glow.png") 31 28 31 29 stretch;-ms-border-image:url("../images/tooltip/glow.png") 31 28 31 29 stretch;-o-border-image:url("../images/tooltip/glow.png") 31 28 31 29 stretch}
.balloon > .tip{position:absolute}
.balloon.up > .tip,.balloon.down > .tip{width:11px;height:6px}
.balloon.left > .tip,.balloon.right > .tip{width:6px;height:11px}
.balloon.up > .tip,.balloon.down > .tip{left:50%;margin-left:-5px}
.balloon.left > .tip,.balloon.right > .tip{top:50%;margin-top:-5px}
.balloon.up > .tip{top:0;margin-top:-6px;background:transparent url("../images/tooltip/arrow-up.png") top left no-repeat}
.balloon.down > .tip{bottom:0;margin-bottom:-6px;background:transparent url("../images/tooltip/arrow-down.png") top left no-repeat}
.balloon div.flow{white-space:normal;overflow:hidden;width:175px;clear:both;padding:9px 9px 6px 9px;background-color:#fafdfe}
.balloon span.icon{padding-left:16px;line-height:20px}
.balloon span.icon,.balloon span.warning{float:left;width:16px;height:14px;margin:0 3px 0 0;padding:0;display:inline-block}
.balloon div.suggested span.icon,.balloon div.required span.icon{background:url("../images/strength.png") top left no-repeat}
.balloon div.suggested span.icon{margin-top:1px;background-position:-23px -20px}
.balloon div.required span.icon{background-position:-23px -4px}
.balloon div.suggested.isValid span.icon,.balloon div.required.isValid span.icon{padding:0;background-position:-4px -4px}
.balloon span.warning{margin:0 3px 0 0;background:url("../images/exclamation.png") left no-repeat}
.balloon div.divider{border-top:1px solid #a5c8e9;padding:2px 0;font-size:11px;margin:4px 4px 0 2px;clear:left;width:170px}
.balloon span.comment{font-size:13px;color:#f00}
.balloon span.msg{width:154px;font-size:11px;display:inline-block;padding:1px 0 0 0;margin:0;float:right}
.balloon.left > .tip{left:0;margin-left:-6px;background:transparent url("../images/tooltip/arrow-left.png") top left no-repeat}
.balloon.right > .tip{right:0;margin-right:-6px;background:transparent url("../images/tooltip/arrow-right.png") top left no-repeat}
html[dir="rtl"] .balloon.left > .tip{right:0;margin-right:-6px;background:transparent url("../images/tooltip/arrow-right.png") top left no-repeat}
html[dir="rtl"] .balloon.right > .tip{left:0;margin-left:-6px;background:transparent url("../images/tooltip/arrow-left.png") top left no-repeat}
html[dir="rtl"] .balloon span.icon,html[dir="rtl"] .balloon span.warning{margin:0 0 0 3px;float:right}
html[dir="rtl"] .balloon div.divider{margin:4px 2px 4px 0;clear:right}
html[dir="rtl"] .balloon span.msg{float:left}
#global-balloon.up > .tip{margin-top:-17px}
#global-balloon.down > .tip{margin-bottom:-17px}
#global-balloon.left > .tip{margin-left:-15px}
#global-balloon.right > .tip{margin-right:-14px}
html[dir="rtl"] #global-balloon.right > .tip{margin-left:-15px;margin-right:auto}
html[dir="rtl"] #global-balloon.left > .tip{margin-right:-14px;margin-left:auto}
html.IE #global-balloon{border:1px solid #a0b1bc;padding:0;padding:11px 7px 9px 8px;background:#fafdfe url("../images/tooltip/shadow-ie.png") bottom left repeat-x;overflow:visible}
html.IE .balloon.up{margin-top:10px}
html.IE .balloon.down{margin-bottom:10px}
html.IE .balloon.left{margin-left:10px}
html.IE .balloon.right{margin-right:10px}
html.IE .balloon.up > .tip,html.IE .balloon.down > .tip{width:12px}
html.IE .balloon.left > .tip,html.IE .balloon.right > .tip{height:12px}
html.IE .balloon.up > .tip,html.IE #global-balloon.up > .tip{background:transparent url("../images/tooltip/arrow-up-ie.png") top left no-repeat no-repeat;margin-top:-7px}
html.IE .balloon.down > .tip,html.IE #global-balloon.down > .tip{background:transparent url("../images/tooltip/arrow-down-ie.png") top left no-repeat no-repeat;margin-bottom:-7px}
html.IE .balloon.left > .tip,html.IE #global-balloon.left > .tip{background:transparent url("../images/tooltip/arrow-left-ie.png") top left no-repeat no-repeat;margin-left:-7px}
html.IE .balloon.right > .tip,html.IE #global-balloon.right > .tip{background:transparent url("../images/tooltip/arrow-right-ie.png") top left no-repeat no-repeat;margin-right:-7px}
html.IE .flow{background-color:#fafdfe}
html.IE[dir="rtl"] #global-balloon{padding:11px 8px 9px 7px}
html.IE[dir="rtl"] .balloon.left{margin-right:10px;margin-left:auto}
html.IE[dir="rtl"] .balloon.right{margin-left:10px;margin-right:auto}
html.IE[dir="rtl"] .balloon.left > .tip,html.IE[dir="rtl"] #global-balloon.left > .tip{background:transparent url("../images/tooltip/arrow-right-ie.png") top left no-repeat no-repeat;margin-right:-7px;margin-left:auto}
html.IE[dir="rtl"] .balloon.right > .tip,html.IE[dir="rtl"] #global-balloon.right > .tip{background:transparent url("../images/tooltip/arrow-left-ie.png") top left no-repeat no-repeat;margin-left:-7px;margin-right:auto}

